.form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	max-width: 500px;
}

.form__fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form__fieldset--radio {
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
}

.form__container--radio {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.form__legend {
	color: var(--amarelo_claro);
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
}

.form__label {
	color: var(--amarelo_claro);
	font-weight: 500;
	margin-bottom: 5px;
}

.form__input {
	padding: 10px;
	transition: 0.5s;
}

.form__input,
.form__fieldset--radio {
	border: 3px solid var(--amarelo_escuro);
	border-radius: 10px;
	margin-bottom: 10px;
}

.form__input--file {
	color: var(--amarelo_claro);
	font-weight: 500;
}

.form__input--file::file-selector-button {
	height: 30px;
	margin-right: 18px;
	font-family: var(--fonte);
	font-size: 18px;
	font-weight: 500;
	border: 1px solid var(--amarelo_claro);
	border-radius: 5px;
	background-color: var(--amarelo_escuro);
	color: var(--verde_escuro);
	transition: 0.45s ease-out;
}

.form__input--file::file-selector-button:hover,
.form__input--file::file-selector-button:focus {
	border-color: var(--amarelo_escuro);
	background-color: var(--amarelo_claro);
}

.form__input--file,
.form__input--file::file-selector-button {
	cursor: pointer;
}

.form__input:focus {
	border: 3px solid var(--amarelo_claro);
	outline: none;
}
